.input-name {
  width: 130px;
  height: 38px;
  overflow: scroll
}

.main-content-wrapper .cart-table-area .cart-summary {
  margin-top: 10px;
}

/*.cart-table-area {*/
/*  margin-top: 0px;*/
/*  padding: 0px;*/
/*}*/

.table_admin {
  overflow: auto !important;
  outline: none;
  width: 80%;
}

.img {
  width: 108px;
}

.amado-btn {
  min-width: 90px;
}

th {
  background: #FFFFFF;
}
